<!DOCTYPE html>
<html>
<head>
  <title>Hack2Scratch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="//vjs.zencdn.net/5.11.7/video-js.css" rel="stylesheet">
  <script src="//vjs.zencdn.net/5.11.7/video.js"></script>
  <script src="//vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
</head>
<body>

<div id="wrap">
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <%= link_to 'Home', root_path, class: 'navbar-brand' %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to 'My Dashboard', dashboard_path %></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, :method=>'delete' %></li>
        <% else %>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
        <% end %>
        <li>
        <%= link_to 'Classes', courses_path %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<% if notice.present? %>
  <p class="alert alert-info"><%= notice %></p>
<% end %>

<% if alert.present? %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

</div>

  <br class="clr" />

  <div id="footer">
    <div class="container">
      <div class="col-xs-12 col-sm-3">
        <b>Teachers</b>
        <br />
        <%= link_to 'Teach a Course', new_instructor_course_path %>
        <br />
        <%= link_to 'My Dashboard', dashboard_path %>
      </div>
    <div class="col-xs-12 col-sm-3">
      <b>About</b>
      <br />
      <%= link_to 'Team', team_path %>
      <br />
      <%= link_to 'Careers', careers_path %>
      <br />
      <%= link_to 'Privacy Policy', privacy_path %>
    </div>
    <div class="col-xs-12 col-sm-3">
      <b>Contact</b>
      <br />
      WcMc Technologies
      <br />
      3747 E. Carpenter Ave.
      <br />
      Cudahy, WI 53110
    </div>
    <div class="col-xs-12 col-sm-3 social">
      <b>Social</b>
      <br />
      <br />
      <%= link_to 'http://github.com/waders92', :target=> "_blank" do %>
        <%= image_tag 'git1.png', class: 'socialbtn' %>
      <%end %>
      <%= link_to 'http://facebook.com/wadecarlson1974', :target=> "_blank" do %>
        <%= image_tag 'fb1.png', class: 'socialbtn' %>
      <% end %>
      <%= link_to 'http://twitter.com/wadecarlsonpga', :target=> "_blank" do %>
        <%= image_tag 'twitter1.png', class: 'socialbtn' %>
      <% end %>
      <%= mail_to "wade.carlson@pga.com", :target=>"_blank" do %>
        <%= image_tag 'mail.png', class: 'socialbtn' %>
      <% end %>
    </div>
  </div>
</div>


</body>
</html>
